@font-face {
    font-family: Ebrima;
    src: url(fonts/ebrima.ttf);
}

@font-face {
    font-family: HemiHead;
    src: url(fonts/HEMIHEAD.ttf);
}

body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: white;
    background: url(base_background.png) right bottom #1c3050;
    background-size: cover;
}

#player-info, #player-info-overlay, #player-info-overlay > div, #player-tracks,
#now-playing, #player-visualizer, #controls, #player-scroller {
    position: absolute;
}

#player-info {
    top: 2.1vh;
    right: 2.1vh;
    background-image: url(buttons/info.png);
}

#player-info:hover {
    background-image: url(buttons/info-hover.png);
}

#player-info:active {
    background-image: url(buttons/info-pressed.png);
}

#player-info-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: HemiHead, sans-serif;
    font-size: 5vh;
    text-align: center;
    text-shadow: .5vh .5vh 0 #263643;
    color: #5c8eb1;
    background: rgba(0, 0, 0, .7);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}

#player-info-overlay > div {
    left: 4.71vh;
    right: 4.71vh;
    overflow: auto;
}

#player-tracks, #now-playing, #player-visualizer {
    top: 12.5%;
}

#player-tracks, #player-visualizer {
    bottom: 36.9%;
}

#player-tracks, #controls, #player-scroller {
    left: 4.1%;
}

#player-tracks, #controls {
    margin: 0;
    padding: 0;
    background: #87acd7;
    background: rgba(135, 172, 215, .31);
}

#player-tracks {
    right: 50.6%;
    overflow-y: auto;
}

#player-tracks li {
    overflow: hidden;
    padding-right: 1.375em;
    padding-left: 1.375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

#player-tracks li:hover, #player-tracks li.selected {
    background: #578098;
    background: rgba(87, 128, 152, .31);
}

#player-tracks li.playing:before {
    content: "\25b6";
    display: inline-block;
    min-width: .86em;
    margin-right: .25em;
    margin-left: -1.115em;
    font: normal .9em/1.3em san-serif;
}

#player-tracks, #now-playing, #controls {
    font-family: "Ebrima", sans-serif;
    font-weight: 100;
}

#player-tracks li, #now-playing h2, #now-playing h3 {
    font-size: 3vh;
}

#now-playing h2, #now-playing h3 {
    margin: 0;
    font-weight: inherit;
    text-align: center;
}

#now-playing, #player-visualizer {
    left: 50.6%;
}

#player-visualizer::bar {
    fillStyle: rgba(135, 172, 215, .31);
}

#player-visualizer::bar3d {
    ambient: 0x030303;
    color: 0x87acd7;
    specular: 0x0000ff;
    shininess: 30;
    transparent: true;
    opacity: .31;
}

#player-visualizer, #now-playing, #controls, #player-scroller {
    right: 4.1%;
}

#controls {
    top: 64.3%;
    bottom: 24.4%;
    list-style-type: none;
    font-size: 0;
    text-align: center;
    background: -webkit-linear-gradient(left, transparent, rgba(135, 172, 215, .31) 15%, rgba(135, 172, 215, .31) 85%, transparent);
    background: -moz-linear-gradient(left, transparent, rgba(135, 172, 215, .31) 15%, rgba(135, 172, 215, .31) 85%, transparent);
    background: -moz-linear-gradient(to right, transparent, rgba(135, 172, 215, .31) 15%, rgba(135, 172, 215, .31) 85%, transparent);
    background: linear-gradient(to right, transparent, rgba(135, 172, 215, .31) 15%, rgba(135, 172, 215, .31) 85%, transparent);
}

#controls:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 12.9%;
    background: -webkit-linear-gradient(left, transparent, rgba(135, 172, 215, .155) 15%, rgba(135, 172, 215, .155) 85%, transparent);
    background: -moz-linear-gradient(left, transparent, rgba(135, 172, 215, .155) 15%, rgba(135, 172, 215, .155) 85%, transparent);
    background: -moz-linear-gradient(to right, transparent, rgba(135, 172, 215, .155) 15%, rgba(135, 172, 215, .155) 85%, transparent);
    background: linear-gradient(to right, transparent, rgba(135, 172, 215, .155) 15%, rgba(135, 172, 215, .155) 85%, transparent);
}

#player-info, #controls li {
    overflow: hidden;
    text-indent: 100%;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#controls li {
    display: inline-block;
    vertical-align: middle;
    width: 8.475vh; /* I should have picked nice friendly sizes. */
    height: 75%;
    margin-top: 1.4125vh; /* 12.5% of #controls container. */
    background-repeat: no-repeat;
}

/* 77% of a regular button. */
#player-info, #controls li:nth-child(2), #controls li:nth-last-child(2) {
    width: 6.52575vh;
    height: 6.52575vh;
}

#controls li:first-child, #controls li:last-child {
    position: absolute;
    top: 12.5%;
    width: auto;
    overflow: visible;
    margin-top: 0;
    text-align: left;
    text-indent: 0;
    background: none;
    cursor: auto;
}

#controls li:first-child {
    right: -webkit-calc(50% + 19.23825vh);
    right: -moz-calc(50% + 19.23825vh);
    right: calc(50% + 19.23825vh);
    left: 0;
}

#controls li:first-child img {
    height: 100%;
}

/* Prevent the logo from overlapping with the controls at small widths. */
@media (max-width: 879px) {

    #controls li:first-child {
        line-height: 8.475vh;
    }

    #controls li:first-child img {
        max-width: calc(100% - 7.119vh);
        height: auto;
        vertical-align: middle;
    }
}

#controls li:last-child {
    right: 0;
    left: -webkit-calc(50% + 19.23825vh);
    left: -moz-calc(50% + 19.23825vh);
    left: calc(50% + 19.23825vh);
}

#player-previous {
    background-image: url(buttons/prev.png);
}

#player-previous:hover {
    background-image: url(buttons/prev-hover.png);
}

#player-previous:active {
    background-image: url(buttons/prev-pressed.png);
}

#player-shuffle {
    background-image: url(buttons/shuffle.png);
}

#player-shuffle:hover {
    background-image: url(buttons/shuffle-hover.png);
}

#player-shuffle:active {
    background-image: url(buttons/shuffle-pressed.png);
}

#player-shuffle.player-on {
    background-image: url(buttons/shuffle-clicked.png);
}

#player-play {
    background-image: url(buttons/play.png);
}

#player-play:hover {
    background-image: url(buttons/play-hover.png);
}

#player-play:active {
    background-image: url(buttons/play-pressed.png);
}

#player-stop {
    background-image: url(buttons/stop.png);
}

#player-stop:hover {
    background-image: url(buttons/stop-hover.png);
}

#player-stop:active {
    background-image: url(buttons/stop-pressed.png);
}

#player-next {
    background-image: url(buttons/next.png);
}

#player-next:hover {
    background-image: url(buttons/next-hover.png);
}

#player-next:active {
    background-image: url(buttons/next-pressed.png);
}

#player-progress {
    position: absolute;
    top: -webkit-calc(4.2375vh - 1px); /* Half of 75% of the height of the controls container. */
    top: -moz-calc(4.2375vh - 1px);
    top: calc(4.2375vh - 1px);
    left: 7.119vh; /* 84% of a button. */
    height: 2px;
    /* Hide any text if it is placed inside the inner span due to no #player-time element. */
    font-size: 0;
    background: #ececec;
}

#player-progress, #player-progress span {
    box-shadow: 0 0 10px 1px white;
}

#player-progress span {
    display: inline-block;
    position: relative;
    width: 4.1019vh;
    height: 4.1019vh; /* 36.3% of the height of the controls container. */
    vertical-align: middle;
    margin-top: -webkit-calc(-2.05095vh + 1px);
    margin-top: -moz-calc(-2.05095vh + 1px);
    margin-top: calc(-2.05095vh + 1px);
    margin-left: -2.05095vh;
    background: white;
    border-radius: 50%;
}

#player-progress, #player-time {
    right: 7.119vh;
}

#player-time {
    position: absolute;
    bottom: -1.4125vh;
    font-size: 3vh;
}

#player-scroller {
    bottom: 0;
    height: 21.2524%;
    vertical-align: middle;
    overflow: hidden;
    font-family: HemiHead, sans-serif;
    font-size: 5vh;
    line-height: 21.2524vh;
    white-space: nowrap;
    color: #5c8eb1;
    /* Without this the last letter will leave artifacts behind as it moves across. */
    -webkit-backface-visibility: hidden;
    -ms-backface-visiblity: hidden;
}

@keyframes bounce {
    0% {
        top: 0;
    }
    14.2857% {
        top: .707vh;
    }
    28.5714% {
        top: 1vh;
    }
    42.8571% {
        top: 0;
    }
    57.1428% {
        top: -.707vh;
    }
    71.4285% {
        top: -1vh;
    }
    85.7142% {
        top: -.707vh;
    }
    100% {
        top: 0;
    }
}

#player-scroller > span {
    position: absolute;
    left: 100%;
}

#player-error, #player-warning {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    font-family: sans-serif;
    color: black;
}

#player-error:before, #player-warning:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    background: rgba(0, 0, 0, .5);
}

#player-error h3, #player-error p, #player-warning h3, #player-warning p {
    position: relative;
    margin: 0;
    padding: 1em;
    background: #fafafa;
}

#player-error h3, #player-warning h3, #player-warning > .close {
    padding: .25em .75em;
}

#player-error h3, #player-warning h3 {
    font-weight: normal;
    color: white;
    background: #cd5c5c;
    border-radius: 3px 3px 0 0;
}

#player-warning h3 {
    color: black;
    background: #ffd300;
}

#player-warning > .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;
}

#player-error p, #player-warning p {
    font-weight: 300;
}

#player-error p + p, #player-warning p + p {
    padding-top: 0;
}

#player-error p:last-child, #player-warning p:last-child {
    border-radius: 0 0 3px 3px;
}
